*{
  margin: 0%;
  padding: 0%;
}

.App{
  min-height: 100vh;
  background-color: lightcyan;
}

.search-form {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 427px) {
  .search-form {
    width: auto;
  }
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  background: lightpink;
  margin: 11px;
  border-radius: 10px;
}

.search-button{
  background: lightskyblue;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 4px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}